<a href="https://colab.research.google.com/github/Anamika-debug/ML-Task/blob/main/Data_Cleaning_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

In [ ]:
import pandas as pd

In [ ]:
dunv16=pd.read_csv(r"C:\Users\magal\university_ranking\2016\UniversityRanking_2016.csv")
dunv16['Year']=2016
dunv16

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,NIRF-UNIV-248,Indian Institute Of Science Bangalore,Bangalore,Karnataka,91.81,1,94.45,96.12,100.00,67.18,100,2016
1,NIRF-UNIV-282,Institute Of Chemical Technology,Mumbai,Maharashtra,87.58,2,84.53,96.51,94.00,61.66,97,2016
2,NIRF-UNIV-319,Jawaharlal Nehru University,New Delhi,Delhi,86.45,3,89.45,84.33,100.00,73.57,98,2016
3,NIRF-UNIV-745,University Of Hyderabad-Hyderabad,Hyderabad,Telangana,85.45,4,74.49,89.22,86.71,88.83,98,2016
4,NIRF-UNIV-708,Tezpur University,Tezpur,Assam,84.31,5,83.81,86.64,87.15,76.76,86,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
95,NIRF-UNIV-21,Ambedkar University Delhi (Aud),Delhi,Delhi,47.83,96,63.29,24.19,72.24,61.07,64,2016
96,NIRF-UNIV-573,Rajasthan University Of Veterinary & Animal Sc...,Bikaner,Rajasthan,47.65,97,89.63,28.30,0.00,62.94,0,2016
97,NIRF-UNIV-541,Pes University,Bangalore,Karnataka,47.30,98,49.98,48.73,0.00,42.80,64,2016
98,NIRF-UNIV-265,Indian Law Institute -New Delhi,New Delhi,Delhi,47.19,99,67.43,20.49,97.70,49.86,64,2016
99,NIRF-UNIV-126,Chettinad Academy Of Research And Education (...,Chennai,Tamil Nadu,47.05,100,67.09,33.23,100.00,57.58,0,2016

In [ ]:
dunv17=pd.read_csv(r"C:\Users\magal\university_ranking\2017\UniversityRanking_2017.csv")
dunv17['Year']=2017
dunv17

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,IR17-I-2-18243,Indian Institute of Science Bangalore,Bengaluru,Karnataka,83.28,1,83.11,87.59,87.97,61.48,83.33,2017
1,IR17-I-2-1-319,Jawaharlal Nehru University,New Delhi,Delhi,61.53,2,62.11,33.96,98.71,82.40,47.27,2017
2,IR17-I-2-18500,Banaras Hindu University,Varanasi,Uttar Pradesh,58.92,3,47.85,49.96,94.36,62.97,44.01,2017
3,IR17-I-2-30673,Jawaharlal Nehru Centre for Advanced Scientifi...,Bengaluru,Karnataka,58.25,4,78.28,51.93,68.79,47.44,6.92,2017
4,IR17-I-2-10326,Jadavpur University,Kolkata,West Bengal,57.32,5,48.64,54.09,91.42,53.37,28.81,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR17-I-2-1-N001,Sri Krishnadevaraya University,Anantapur,Andhra Pradesh,33.76,96,34.29,7.72,77.37,56.81,0.04,2017
96,IR17-I-2-18168,Alagappa University,Karaikudi,Tamil Nadu,33.66,97,38.56,18.92,49.32,61.29,4.17,2017
97,IR17-I-2-18385,Narsee Monjee Institute of Management Studies ...,Mumbai,Maharashtra,33.60,98,40.46,8.45,63.88,55.34,6.10,2017
98,IR17-I-1-18289,Jawaharlal Nehru Technological University,Kakinada,Andhra Pradesh,33.44,99,36.81,14.03,60.18,57.19,4.32,2017
99,IR17-I-2-1-57,B.S. Abdur Rahman Institute of Science and Tec...,Chennai,Tamil Nadu,32.99,100,42.56,6.33,56.98,63.08,6.07,2017

In [ ]:
dunv18=pd.read_csv(r"C:\Users\magal\university_ranking\2018\UniversityRanking_2018.csv")
dunv18['Year']=2018
dunv18

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,IR-1-O-O-U-0220,Indian Institute of Science,Bengaluru,Karnataka,82.16,1,84.54,91.08,75.48,43.70,100.00,2018
1,IR-1-O-O-U-0109,Jawaharlal Nehru University,New Delhi,Delhi,67.57,2,74.71,42.60,99.12,79.32,46.28,2018
2,IR-3-O-OMD-U-0500,Banaras Hindu University,Varanasi,Uttar Pradesh,63.52,3,65.15,50.76,95.42,53.13,43.62,2018
3,IR-4-O-OEMA-U-0439,Anna University,Chennai,Tamil Nadu,62.82,4,57.31,60.76,79.15,52.55,63.22,2018
4,IR-1-O-O-U-0042,University of Hyderabad,Hyderabad,Telangana,60.54,5,74.36,45.34,84.45,55.71,21.66,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-1-O-O-U-0569,The University of Burdwan,Barddhaman,West Bengal,37.68,96,51.36,21.23,64.62,27.42,2.40,2018
96,IR-1-O-D-U-0294,D. Y. Patil Educational Society,Kolhapur,Maharashtra,37.61,97,67.68,4.30,51.69,56.82,0.00,2018
97,IR-1-O-E-U-0014,International Institute of Information Technology,Hyderabad,Telangana,37.52,98,44.31,21.73,56.78,54.58,8.87,2018
98,IR-3-O-OEM-U-0733,PES University,Bengaluru,Karnataka,37.51,99,54.21,9.28,60.17,61.18,3.17,2018
99,IR-2-O-OE-U-0522,Jaypee Institute of Information Technology,Noida,Uttar Pradesh,37.47,100,43.19,17.57,60.50,53.04,18.35,2018

In [ ]:
dunv19=pd.read_csv(r"C:\Users\magal\university_ranking\2019\UniversityRanking_2019.csv")
dunv19['Year']=2019
dunv19

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,IR-O-U-0220,Indian Institute of Science,Bengaluru,Karnataka,82.28,1,83.16,89.24,78.57,48.47,100.00,2019
1,IR-O-U-0109,Jawaharlal Nehru University,New Delhi,Delhi,68.68,2,76.75,41.85,99.87,75.87,55.27,2019
2,IR-O-U-0500,Banaras Hindu University,Varanasi,Uttar Pradesh,64.55,3,69.72,46.48,96.37,57.01,47.28,2019
3,IR-O-U-0042,University of Hyderabad,Hyderabad,Telangana,61.85,4,74.81,43.78,83.64,58.77,36.71,2019
4,IR-O-U-0570,Calcutta University,Kolkata,West Bengal,60.87,5,62.26,47.10,91.54,60.14,37.39,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-O-U-0372,Central University of Punjab,Bathinda,Punjab,38.68,95,61.46,13.62,46.73,60.12,7.91,2019
96,IR-O-U-0050,Assam University,Silchar,Assam,38.67,97,56.32,13.29,63.64,45.81,4.70,2019
97,IR-O-U-0164,Kurukshetra UniversityMore Details\nClose | \n...,Kurukshetra,Haryana,38.60,98,50.28,10.62,73.97,47.24,8.25,2019
98,IR-O-U-0047,Rajiv Gandhi University,Itanagar,Arunachal Pradesh,38.48,99,61.40,2.68,66.64,58.93,0.41,2019
99,IR-O-U-0465,Meenakshi Academy of Higher Education and Rese...,Chennai,Tamil Nadu,38.45,100,63.85,1.62,66.26,55.61,0.00,2019

In [ ]:
dunv20=pd.read_csv(r"C:\Users\magal\university_ranking\2020\UniversityRanking_2020.csv")
dunv20['Year']=2020
dunv20

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,IR-O-U-0220,Indian Institute of Science,Bengaluru,Karnataka,84.18,1,82.22,92.16,82.89,52.84,100.00,2020
1,IR-O-U-0109,Jawaharlal Nehru University,New Delhi,Delhi,70.16,2,74.98,44.80,100.00,75.10,67.24,2020
2,IR-O-U-0500,Banaras Hindu University,Varanasi,Uttar Pradesh,63.15,3,70.91,44.89,85.65,58.76,53.99,2020
3,IR-O-U-0436,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,62.27,4,69.65,52.11,73.66,65.83,44.33,2020
4,IR-O-U-0575,Jadavpur University,Kolkata,West Bengal,61.99,5,53.38,52.96,90.39,48.67,71.44,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-O-U-0366,Utkal University,Bhubaneswar,Odisha,40.05,96,42.89,11.50,77.12,44.13,39.00,2020
96,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,40.04,97,55.59,8.36,61.02,59.78,26.73,2020
97,IR-O-U-0451,Chettinad Academy of Research and Education,Kanchipuram District,Tamil Nadu,39.97,98,70.68,5.16,48.45,56.63,18.74,2020
98,IR-O-U-0164,Kurukshetra University,Kurukshetra,Haryana,39.79,99,49.89,9.95,68.15,48.88,33.21,2020
99,IR-O-U-0043,"Vignan's Foundation for Science, Technology & ...",Guntur,Andhra Pradesh,39.71,100,57.39,8.36,60.60,58.11,20.52,2020

In [ ]:
dunv21=pd.read_csv(r"C:\Users\magal\university_ranking\2021\UniversityRanking_2021.csv")
dunv21['Year']=2021
dunv21

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,IR-O-U-0220,Indian Institute of Science,Bengaluru,Karnataka,82.67,1,79.13,91.48,78.23,58.39,100.00,2021
1,IR-O-U-0109,Jawaharlal Nehru University,New Delhi,Delhi,67.99,2,71.19,44.96,95.07,73.36,67.88,2021
2,IR-O-U-0500,Banaras Hindu University,Varanasi,Uttar Pradesh,64.02,3,64.50,45.00,100.00,53.13,58.57,2021
3,IR-O-U-0570,Calcutta University,Kolkata,West Bengal,62.06,4,66.20,43.92,91.72,60.98,45.77,2021
4,IR-O-U-0436,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu,61.23,5,64.23,54.33,71.35,65.54,48.36,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-O-U-0121,Goa University,Goa,Goa,38.96,96,48.86,15.05,60.91,55.96,20.01,2021
96,IR-O-U-0043,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,38.92,97,49.40,15.25,60.65,56.03,18.00,2021
97,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,38.91,98,47.99,9.74,60.76,62.23,32.17,2021
98,IR-O-U-0223,"Jain university, Bangalore",Bengluru,Karnataka,38.89,99,39.29,12.72,73.89,59.54,25.52,2021
99,IR-O-U-0564,University of Petroleum and Energy Studies,Dehradun,Uttarakhand,38.88,100,46.46,15.08,60.13,61.98,21.90,2021

In [ ]:
dunv=pd.concat([dunv16,dunv17,dunv18,dunv19,dunv20,dunv21])

In [ ]:
dunv['Institute Name']=dunv['Institute Name'].str.title()

In [ ]:
dunv.to_csv("UniversityRanking_16_17_18_19_20_21.csv",index=False)

In [ ]:
df=dunv.fillna(value=0)
df=dunv.replace(to_replace='-',value=0)
df=dunv.replace(to_replace=' ',value=0)

In [ ]:
df

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,NIRF-UNIV-248,Indian Institute Of Science Bangalore,Bangalore,Karnataka,91.81,1,94.45,96.12,100.00,67.18,100.00,2016
1,NIRF-UNIV-282,Institute Of Chemical Technology,Mumbai,Maharashtra,87.58,2,84.53,96.51,94.00,61.66,97.00,2016
2,NIRF-UNIV-319,Jawaharlal Nehru University,New Delhi,Delhi,86.45,3,89.45,84.33,100.00,73.57,98.00,2016
3,NIRF-UNIV-745,University Of Hyderabad-Hyderabad,Hyderabad,Telangana,85.45,4,74.49,89.22,86.71,88.83,98.00,2016
4,NIRF-UNIV-708,Tezpur University,Tezpur,Assam,84.31,5,83.81,86.64,87.15,76.76,86.00,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-O-U-0121,Goa University,Goa,Goa,38.96,96,48.86,15.05,60.91,55.96,20.01,2021
96,IR-O-U-0043,"Vignan'S Foundation For Science, Technology An...",Guntur,Andhra Pradesh,38.92,97,49.40,15.25,60.65,56.03,18.00,2021
97,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,38.91,98,47.99,9.74,60.76,62.23,32.17,2021
98,IR-O-U-0223,"Jain University, Bangalore",Bengluru,Karnataka,38.89,99,39.29,12.72,73.89,59.54,25.52,2021
99,IR-O-U-0564,University Of Petroleum And Energy Studies,Dehradun,Uttarakhand,38.88,100,46.46,15.08,60.13,61.98,21.90,2021